<div class="container">
  <h4 class="title">
    Following!!
  </h4>

<div class="container">
    <div class="row">
      <div class="col-md-8 text-left">
        <table class='table table-striped'>
        <tbody>
            <tr><td colspan="3"><%= paginate @follows %></td></tr>
         </tbody>
         <p>
          <tr>
              <th>user</th>
              <th>name</th>
              <th>Tweets</th>
          </tr>
         </p> 

          <% if @follows %>
            <% @follows.each do |follow| %>
            <% user = User.find(follow.followed) %>
              <tbody>
                <tr>
                  <td>
                    @<%=follow.followed.user_name%>     
                  </td>
                  <td>
                     <%=user.name%>
                  </td>
                  <td>
                    <%=user.tweets.count%>
                  </td>
                </tr>
                </tbody>
             <% end  %> 
          <% end  %>  
        </table>
      </div>
    </div>
  </div>